.mui-content{
	margin: 3rem 0;
}
.login-logo {
    text-align: center;
    margin: 7rem 0;
}
.login-logo p {
    color: #bababa;
    font-size: 14px;
}

img {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
}
a {
    color: black;
    text-decoration: none;
}
li {
    list-style-type: none;
}
ul, ol {
    list-style: none;
}

.shopcart-list {
    overflow: hidden;
    background: #fff;
    margin-top: 1rem;
    padding-bottom: 50px;
    padding-left: 0;
}
.shopcart-list li {
    border-bottom: 1px solid #ddd;
    padding: 3% 1rem;
    overflow: hidden;
    position: relative;
}
.shopcart-list label {
	display: block;
    min-height: 1.92rem;
	padding-left: 22px;
    -webkit-transition: color .25s linear;
    transition: color .25s linear;
    font-size: 14px;
    line-height: 1.5;
    position: relative;
    float: left;
    margin-right: 0.2rem;
    margin-top: 2.5rem;
    font-weight: 400;
}
.shopcart-list .mui-checkbox label{
	width: 20px;
	padding-right:0px;
}
.mui-checkbox input[type=checkbox].check-input, .mui-radio input[type=radio].check-input{
	left: 10px;
    top: 50%;
    margin-top: -13px;
    display: block;
}
.shop-pic {
	margin: 0;
    padding: 0;
    border: 0;
    outline: none;
	    box-sizing: border-box;
    vertical-align: middle;
    float: left;
    width: 6rem;
    height: 6rem;
}
.shop-list-mid {
    float: left;
    width: 50%;
    margin-left: 0.625rem;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.shop-list-price {
    position: absolute;
    color: #BF392A;
    right: 10px;
    top: 10px;
}
.shop-list-mid .d-stock {
    margin-top: 8px;
    position:absolute;
	text-align: left;
}

.shopcart-list .del {
    font-size: 24px;
    color: #909090;
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.shop-list-mid .tit{
   display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
    height: 42px;;
    }
.shop-fix {
    height: 4rem;
    position: fixed;
    bottom: 0px;
    background: #fff;
    width: 100%;
    padding: 0 3%;
    background-color: #ddd;
    padding-top: 0.2rem;
}
.shop-fix .del {
    color: #666;
    float: left;
    line-height: 5rem;
}
.js-text {
    float: right;
    padding-right: 10px;
    /* margin-top: 5px; */
}
.js-text b {
    font-style: normal;
    color: #FF5500;
    font-size: 18px;
}

    