<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta charset="utf-8">
		<title>卖菜西施</title>
		<link rel="stylesheet" href="../resource/dev/css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../resource/dev/css/icons-extra.css" />
		<link rel="stylesheet" href="../resource/dev/css/pages/goods/goods.css" />

		<script src="../resource/dev/libs/jquery-3.2.1.js"></script>
		<script src="../resource/dev/libs/mui.js"></script>
		<script type="text/javascript" src="../resource/dev/scripts/goods/ectouch.js"></script>
		<script type="text/javascript" src="../resource/dev/scripts/goods/jquery.json.js"></script>
		<script type="text/javascript" src="../resource/dev/libs/vue.js"></script>
	</head>
	<script type="text/javascript" charset="utf-8">
		webInit = {
			event: function() {
				$(document).on('tap', '.add-good', function(e) {
					console.log(window.vm.$data.list);
				});
				$(document).on('tap', '#sidebar li', function() {
					var _target = $(this);
					if(_target.hasClass('active')) {
						return false;
					}
					var _active = $('.active');
					var _index = _target.index();
					_target.addClass('active');
					_active.removeClass('active');
					vm.$data.title = vm.$data.list[_index];
					if(vm.$data.numbers.length > 1) vm.$data.numbers.length--;
					else vm.$data.numbers.push(vm.$data.numbers.length + 1);
				});
			}
		}
		$(document).ready(function() {
			webInit.event();
			window.vm = new Vue({
				el: "#app",
				data: {
					numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
					list: ['我的搜索','水果', '蔬菜', '海鲜'],
					title: ''
				}
			});
			$('#sidebar li').eq(1).trigger('tap');
			vm.$data.title = vm.$data.list[0];

			//mui功能放在这下面
			(function(mui, doc) {
				mui.init({
					swipeBack: true //启用右滑关闭功能
				});
				mui.plusReady(function() {

				});
			}(mui, document));

		});
	</script>

	<body>
		<div class="header">
			<div class="aui-header-bg" style="background:#feab47;"></div>
			<div class="toolbar statusbar-padding" style="min-height:50px">
				<span class="mui-icon mui-icon-extra mui-icon-extra-sweep header-shaoshao"></span>
				<div class="header-title" style="height:50px; padding:0 50px">
					<div class="title aui-title-input"><input type="text" placeholder="搜索"></div>
				</div>
				<a href="news.html">
					<span class="mui-icon mui-icon-search searchgoods"></span>
				</a>
			</div>
		</div>
		<article class="mui-content" id="app">
			<div class="con" style="overflow: hidden;">
				<aside>
					<div class="menu-left scrollbar-none r-line" id="sidebar">
						<ul>
							<li v-for="item in list" v-cloak>{{item}}</li>
						</ul>
					</div>
				</aside>
				<div>
					<section class="menu-goods-right">
						<div class="title">
							<div class="background"></div>
							<span v-cloak>{{title}}</span>
						</div>
						<ul class="mui-table-view mui-table-view-chevron menu-goods-list">
							<li class="mui-table-view-cell mui-media" v-for="numb in numbers" v-cloak>
								<span>
									<img class="mui-media-object mui-pull-left"  v-bind:src="'../resource/dev/images/goods/top'+numb+'.jpg'" />
									<div class="mui-media-body">
										香蕉{{numb}} 
										<p class="mui-ellipsis">￥ <span class="goods-money">55/斤</span></p>
									</div>
								<a><span class="mui-icon-extra mui-icon-extra-cart add-good"></span></a>
								</span>
							</li>
						</ul>
				</section>
			</div>
		</article>
	</body>

</html>